.project-img {
    width: 35vw;
    height: 50vh !important;
    background-image: url("https://i.ibb.co/02sPSKs/foodie-fiesta-449d3-web-app-home.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    transition: ease-in-out 8s;
    border: 3px solid #00000071;
}

.project-img:hover {
    background-position: bottom;
}

.project-img-2 {
    width: 35vw;
    height: 50vh !important;
    background-image: url("https://i.ibb.co/Xz7T6yd/euphoria-safoun-web-app-home.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    transition: ease-in-out 8s;
    border: 3px solid #00000071;
    border-radius: 0px !important;
}

.project-img-2:hover {
    background-position: bottom;
}