.project-image {
    width: 100% !important;
    height: 400px !important;
    background-image: url("https://i.ibb.co/02sPSKs/foodie-fiesta-449d3-web-app-home.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    transition: ease-in-out 8s;
    border: 3px solid #00000071;
}

.project-image:hover {
    background-position: bottom;
}

.project-image-2 {
    width: 100% !important;
    height: 400px !important;
    background-image: url("https://i.ibb.co/Xz7T6yd/euphoria-safoun-web-app-home.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    transition: ease-in-out 8s;
    border: 3px solid #00000071;
    border-radius: 0px !important;
}

.project-image-2:hover {
    background-position: bottom;
}


@media only screen and (max-width: 600px) {
    .project-image {
        width: 100% !important;
        height: 250px !important;
    }

    .project-image-2 {
        width: 100% !important;
        height: 250px !important;
    }
}