.me-top {
    padding-top: 100px !important;
}

.quote {
    padding: 100px 50px;
}

.right {
    text-align: right !important;
}

.border-time {
    border: 2px solid white;
    border-radius: 16px;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}