.text-area {
    width: 100%;
    min-height: 180px;
    padding: 15px;
    border: 3px solid #00000036;
    border-radius: 20px;
}

.inputs {
    width: 100%;
    padding: 15px;
    border: 3px solid #00000036;
    border-radius: 20px;
}

.send-btn {
    border-radius: 20px;
    border: 3px solid #212529;
    background-color: black;
    color: white;
}

.send-btn:hover {
    border-radius: 20px;
    color: white;
}

.send-btn:active {
    color: #00000036;
    border: 3px solid #00000036;
    background-color: white !important;
}

.social-card {
    width: 100% !important;
    background-color: white;
    border-radius: 20px;
    padding: 16px 10px;
}

@media only screen and (max-width: 600px) {
    .send-btn {
        padding: 18px 10px !important;
    }
}