@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  color: #00051f !important;
  scroll-behavior: smooth !important;
}

.text-one {
  font-family: 'Poiret One', cursive !important;
}


.text-two {
  font-family: 'Work Sans', sans-serif !important;
}

.text-three {
  font-family: 'Handlee', cursive !important;
}

/*  */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #212529;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #656565;
}

::selection {
  color: #ffffff;
  background: #00051f;
}